
extends ../partials/header.pug
block content 
  .all-main-wrapper 
    .login-wrapper 
      h3(style="width:100%; text-align:center; font-family:arial;") Tutorise Admin Portal Login
      input(type="text" placeholder="E-mail")#email.each-input
      input(type="text" placeholder="Password")#password.each-input
      .submit-button#submit-button Log in as admin
