
extends ../partials/header.pug
block content
  .all-main-wrapper
    .header-main-wrapper 
      a(href="/").each-header-item 
        img.logo-image(src="/res/images/logo.png", alt="Tutorise Logo")
      a(href="/tutor").each-header-item Tutor page
      a(href="/student").each-header-item Student page
      a(href="/admin").each-header-item Admin page
      a(href="mailto:doguboran@ledgerise.org").each-header-item 
        .join-button Join Tutorise
    .inner-main-wrapper
      .main-description Peer Tutoring Redefined
      .main-title 
        span The 
        span(style="color: #f2345f") Easiest 
        span Way To Rise Your Grade  
      .subsequent-description Tutorise is the first peer tutoring program management platform for highschools in Turkey. Engineered with the utmost care for your struggles and crafted by students. You can login to your account as a tutor or student; start using tutorise with a single click as a school official.
      .start-buttons 
        a(href="/student").each-start-button Take Lessons
        a(href="/tutor").each-start-button Start Teaching
