
extends ../partials/header.pug
block content
  .all-main-wrapper
    .header-main-wrapper 
      a(href="/").each-header-item 
        img.logo-image(src="/res/images/logo.png", alt="Tutorise Logo")
      a(href="/tutor").each-header-item Mentor page
      a(href="/student").each-header-item Student page
      a(href="/admin").each-header-item Admin page
      a(href="mailto:doguboran@ledgerise.org").each-header-item 
        .join-button Join Tutorise
    .inner-main-wrapper
      .main-description Mentoring Redefined
      .main-title 
        span Connect With Your School's 
        span(style="color: #f2345f") Notable Alumni 
      .subsequent-description Tutorise is the first alumni-student connection social media for high school students in Turkey. With tutorise you can get insight and inquiry about the career or college degree you wanna pursue. We will help you find the best alumni from your school and connect with them with one click.
      .start-buttons 
        a(href="/student").each-start-button Take Lessons
        a(href="/tutor").each-start-button Start Mentoring
      .clients-display-content 
        .clients-display-title Trusted by
        .clients-all-clients-wrapper
          each school in schoolsDisplayObjects
            .each-school-wrapper 
              .each-school-image-wrapper 
                img(src=school.schoolImage, alt=school.schoolName)
              .each-school-name-content #{school.schoolName}
