extends ../partials/header.pug
block content 
  .all-main-wrapper 
    .login-inner-wrapper
      .login-logo-wrapper
        img(src="/res/images/logo.png", alt="Mentorise logo", style="width:200px")
      .login-main-content 
        .login-content-title Welcome, dear teacher!
        .login-content-description Login to your tutor account to manage your students.
        .login-content-input-wrapper
          input(type="text" placeholder="e-mail address")#email.each-input
          input(type="text" placeholder="password")#password.each-input
          .submit-button#submit-button Log in as tutor
      .login-footer-wrapper
        .each-footer-item ©2024 Mentorise
        .each-footer-item Powered by Ledgerise Teknoloji
    .display-inner-wrapper