
.inner-main-wrapper {
  background-color: #ededed;
  width: 100%;
  height: calc(100vh - 200px);
  padding: 5%;
  overflow-y: auto !important;
}

.each-session-group-wrapper {
  width: 95%;
  margin-bottom: 20px;
}

.each-session-group-title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}

.each-session-group-wrapper-sessions-wrapper {
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  height: fit-content;
  padding: 20px;
}

.each-session-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #46464654;
}

.each-session-content-infos {
  display: flex;
  align-items: center;
  height: 100%;
}

.each-session-content-date-info {
  font-size: 20px;
  padding: 20px 20px;
  width: 50px;
  font-weight: 700;
  background-color: #f8f8f8;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  margin-right: 20px;
}

.each-session-content-tutor-core-info {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
.each-session-content-time-info {
  margin-bottom: 5px;
}
.each-session-content-zoom-link-info {
  color: #6687ff;
}
.each-session-actions-cancel-lesson {
  margin-top: 20px;
  color: #f8f8f8;
  background-color: #520f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  font-size: 10px;
  border-radius: 5px;
}

.each-session-content-actions {
  display: flex;
  flex-direction: column;
}

.rate-tutor-title-preview-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.each-session-content-rating-preview-content {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canceled-session-cancel-text-wrapper {
  width: calc(400px - 20px);
  height: 100px;
  padding: 10px;
  font-size: 14px;
  overflow-y: auto;
  background-color: #f8f8f8;
  margin-right: 20px;
  text-wrap: wrap;
}

.rate-tutor-inputs-area-textarea-container {
  width: 400px;
  height: 50px;
  padding: 10px;
  background-color: #f8f8f8;
}

.rate-tutor-inputs-area-textarea-container textarea {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  padding: 10px;
}
